<!-- <p>{{productObj.title}}</p>
<button class="btn btn-primary">Add to curt</button> -->

<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <div>
                <img *ngIf="productObj?.images?.length" class="mb-3" [src]="selectedImage || productObj.images[0]" class="img-thumbnail" alt="...">

            </div>

            @for (img of productObj.images; track $index) {
                <img src={{img}} class="img-thumbnail mt-2" style="width: 4vw; cursor: pointer;" alt="..." (click)="getImag($event)">
            }
        </div>
        <div class="col-8 ">
            <h2 class="mb-4">{{productObj.title}}</h2>
            <h4  class="mb-4">Price: {{productObj.price|currency:"EGP"}}</h4>
            <p class="w-75" style="font-size: large;">{{productObj.description}}</p>
            <h6>Category: {{productObj.category.name}}</h6>
            <h4>Product Quantity</h4>
            <div class="input-group my-4 w-25">
                <button class="btn btn-primary" type="button" (click)="decreaseQuantity()">
                    <i class="bi bi-dash"></i>
                </button>
                <input type="text" id="quantity" class="form-control text-center" [value]="productQuantitiy" >
                <button class="btn btn-primary" type="button" (click)="increaseQuantity()">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
            <button class="btn btn-primary  w-25" style="font-size: x-large;" (click)="addToCart()">Add to cart</button>
        </div>
    </div>
</div>
