<div class="bg-secondary-subtle">
    <div class="custom-container py-4" >
        <div class="d-flex justify-content-between">
            <div>
                <h6 class="my-4">COMPANY INFO</h6>
                <a class="nav-link" routerLink="/about" routerLinkActive="active">Abouts Us</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Latest Posts</a>
                <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact US</a>
                <a class="nav-link" routerLink="/products" routerLinkActive="active">Shop</a>
            </div>
            <div>
                <h6 class="my-4">HELP LINKS</h6>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Tracking</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Order Status</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Delivery</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Shipping Info</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">FAQ</a>
            </div>
            <div>
                <h6 class="my-4">USEFUL LINKS</h6>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Special Offers</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Gift Cards</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Advertising</a>
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Terms of use</a>
            </div>
            <div>
                <h6 class="my-4">GET IN THE KNOW</h6>
                <input type="text" placeholder="Enter email" class="bg-secondary-subtle border-0">
                <button class="bg-secondary-subtle border-0">></button>
            </div>
        </div>
        <hr>
        <div>
            <div class="p-1">
                <p>&copy; 2025 VOYEZ eCommerce</p>
                <p>Privacy Policy       Terms&Conditions</p>
            </div>
            <div></div>
        </div>
    </div>
</div>