<div class=" ms-3 mt-lg-5">
    <span class="fw-semibold">
        <a routerLinkActive="active"  routerLink="/home" class="text-decoration-none text-secondary fs-6" >HOME </a> 
        <span class="text-secondary">
             /
        </span>
        <a routerLinkActive="active"  routerLink="/card" class="text-decoration-none text-secondary fs-6" >CART </a> 
        <span class="text-secondary">
            /
       </span>
        <span>
             CHECKOUT
        </span>
    </span>   
</div>
<div>
    <h1 class="ms-3 mt-5">Billing details</h1>
</div>
<div class="d-flex justify-content-center mt-2 flex-wrap">
    <div class="col-12 text-center text-bg-warning">Coming soon</div>
    <img src="https://t4.ftcdn.net/jpg/00/89/02/67/360_F_89026793_eyw5a7WCQE0y1RHsizu41uhj7YStgvAA.jpg" class="w-50 col-12">
</div>
